@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	box-sizing: inherit;
	font-size: 62.5%;
}

h1,
h2,
h3,
h4 {
	font-family: "Montserrat", sans-serif;
	color: #b200fd;
}

a,
p {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	color: #343434;
}

.weapon-input {
	display: flex;
	text-align: center;
	font-size: 1.6rem;
	padding: 0.4rem;
	background: none;
	width: 60%;
	border: none;
	margin-top: 0;
	margin-right: 0.8rem;
}

.btn {
	box-shadow: none;
}

.btn:hover {
	cursor: pointer;
}

.rename-btn {
	border-radius: 1rem;
	border-style: hidden;
	border-color: white;
	box-shadow: none;
	padding: 0.5rem 0;
	color: white;
	background: linear-gradient(to right, #00ecfd, #b200fd);
	width: 60%;
	z-index: 2;
}
