@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');



h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  color: #b200fd;
}

a, p {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #343434;
}

input {
  display: flex;
  text-align: center;
  font-size: 1.2em;
  padding: 4px;
  background: none;
  width: 60%;
  border: none;
  margin-top: 0;
  margin-right: 8px;
}

button {
  border-style:hidden;
  border-color: white;
  box-shadow: none;
  padding: 5px 0;
  color: white;
  background: linear-gradient(to right, #00ecfd, #b200fd);
  border-radius: 20px;
  width: 60%;
}

button:hover {
  cursor: pointer;
}

.saveButton {
  z-index: 2;
}