* {
  box-sizing: border-box;
}

input {
  text-align: center;
  font-size: 1.2em;
  padding: 4px;
  background: none;
  width: 60%;
  border: none;
  margin-top: 0;
  margin-right: 8px;
}

.saveButton {
  border-radius: 50%;
  padding: 4% 1% 6% 1%;
  font-size: 1em;
}