.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #343434;
}

.navbar__link {
	font-size: 1.1rem;
	text-decoration: none;
	color: #00ecfd;
	margin: 1rem;
	border-bottom: 0.2rem solid #343434;
}

.navbar__link:hover,
.navbar__link:focus {
	color: #b6eaee;
	border-bottom: 0.2rem solid white;
	transition: text-decoration 0.5s ease;
}

.navbar__links--container {
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	margin-right: 2rem;
}

.navbar__btn {
	font-size: 0.8rem;
	margin: 0.4rem;
	padding: 1rem;
	background-color: #fff;
	color: #000;
	border-radius: 1rem;
}

.form__container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.form__label {
	display: flex;
	flex-direction: column;
	font-size: 1.1rem;
	color: #00ecfd;
	margin: 0.5rem;
}

.form__input {
	display: flex;
	text-align: center;
	background-color: #fff;
	color: #000;
	font-size: 1.1rem;
	border: none;
	border-radius: 0.5rem;
	padding: 0.4rem 0;
}

.form {
	display: flex;
}
