.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #343434;
	padding: 1rem 2rem;
	width: 100%;
}

.navbar__link {
	font-size: 1.4rem;
	text-decoration: none;
	color: #00ecfd;
	margin: 2rem;
	border-bottom: 0.2rem solid #343434;
}

.navbar__link:hover,
.navbar__link:focus {
	color: #b6eaee;
	border-bottom: 0.2rem solid white;
	transition: text-decoration 0.5s ease;
}

.navbar__links--container {
	padding: 0 1rem;
}

.navbar__btn {
	font-size: 1.2rem;
	margin: 1rem;
	padding: 1.3rem;
	background-color: #fff;
	color: #000;
	border-radius: 1rem;
}

.navbar__form {
	display: flex;
}

.navbar__form--container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.navbar__form--label {
	display: flex;
	flex-direction: column;
	font-size: 1.4rem;
	color: #00ecfd;
	margin: 0.5rem;
}

.navbar__form--input {
	display: flex;
	text-align: center;
	background-color: #fff;
	color: #000;
	font-size: 1.6rem;
	border: none;
	border-radius: 0.5rem;
	padding: 1rem 0;
}

.navbar__form--input::placeholder {
	opacity: 0.6;
	font-size: 1.2rem;
}

/* Animations */
